{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "D:/apps/sampleapp/src/netdb-rspa/netdb_rspa/src"
        }
      }
    ]
  ]
}