.table-cell-editor {
    height: inherit;

    &.selected {
        background-color: beige;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        display: flex;
        align-items: center;

        .table-cell-editor-hint {
            box-sizing: border-box;
            overflow: hidden;
            padding-left: 5px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 100%;
            max-width: 100%;
            display: none;
        }
    }

    &.table-cell-editor-set,
    &.table-cell-editor-setmultiple {
        .table-cell-editor-hint {
            display: block;
        }
    }

    &.invalid {
        box-shadow: 0px 0px 1px 1px var(--table-error);
    }
}