.table-cell-editor {

    .tce-bool {
        height: 100%;
        width: 100%;
        background: beige;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}