:root {
  --key-size: 1rem;
  --primary-color-l2: #bfddf1;
  --primary-color-l1: #80bbe3;
  --primary-color: #0077c8;
  --primary-color-d1: #003b63;
  --primary-color-d2: #001e32;
  --secondary-color-l2: #e1e2e2;
  --secondary-color-l1: #c3c5c6;
  --secondary-color: #888b8d;
  --secondary-color-d1: #434546;
  --secondary-color-d2: #222323;
  --info-color-l2: #bfecf8;
  --info-color-l1: #80daf0;
  --info-color: #00b5e2;
  --info-color-d1: #005a70;
  --info-color-d2: #002d39;
  --success-color-l2: #c9e9d0;
  --success-color-l1: #94d3a2;
  --success-color: #28a745;
  --success-color-d1: #145322;
  --success-color-d2: #0a2a11;
  --warning-color-l2: #ffe8bf;
  --warning-color-l1: #ffd180;
  --warning-color: #ffa300;
  --warning-color-d1: #7f5100;
  --warning-color-d2: #402900;
  --error-color-l2: #f6ccd0;
  --error-color-l1: #ed9aa2;
  --error-color: #dc3545;
  --error-color-d1: #6d1a22;
  --error-color-d2: #370d11;
  --positive-color: #ffffff;
  --positive-color-90: rgba(255, 255, 255, 0.9);
  --positive-color-85: rgba(255, 255, 255, 0.85);
  --positive-color-75: rgba(255, 255, 255, 0.75);
  --positive-color-50: rgba(255, 255, 255, 0.5);
  --positive-color-25: rgba(255, 255, 255, 0.25);
  --positive-color-15: rgba(255, 255, 255, 0.15);
  --positive-color-10: rgba(255, 255, 255, 0.1);
  --negative-color-10: rgba(0, 0, 0, 0.1);
  --negative-color-15: rgba(0, 0, 0, 0.15);
  --negative-color-25: rgba(0, 0, 0, 0.25);
  --negative-color-50: rgba(0, 0, 0, 0.5);
  --negative-color-75: rgba(0, 0, 0, 0.75);
  --negative-color-85: rgba(0, 0, 0, 0.85);
  --negative-color-90: rgba(0, 0, 0, 0.9);
  --negative-color: #000000;
  --transparent-color: transparent;
  --background-color: var(--positive-color);
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/roboto/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/sourcesanspro/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/sourcesanspro/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/sourcesanspro/SourceSansPro-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/sourcesanspro/SourceSansPro-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/sourcesanspro/SourceSansPro-Black.ttf) format('truetype');
}
html {
  background-color: var(--background-color);
  color: var(--negative-color-85);
  font-family: Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html,
body {
  position: relative;
  height: 100%;
}
hr {
  margin-top: var(--key-size);
  margin-bottom: var(--key-size);
  height: calc(var(--key-size) * 0.0625);
  background-color: currentColor;
  border-width: 0;
  color: inherit;
  opacity: 0.25;
}
:root {
  --background-color: #ebeff4;
  --layout-main-font-size: calc(var(--key-size) * 0.875);
  --layout-header-content-background-color: #b1bfd1;
  --layout-aside-expander-color: #ebeff4;
  --layout-aside-expander-background-color: #222f3f;
  --layout-aside-navbar-background-color: #222f3f;
  --layout-aside-navbar-item-color: #ebeff4;
  --layout-aside-navbar-item-hover: #516580;
  --layout-aside-navbar-item-hover-background-color: var(--positive-color-10);
  --layout-aside-navbar-item-active-margin: calc(var(--key-size) * 0.25);
  --layout-aside-navbar-item-active-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-active-border-left-width: calc(var(--key-size) * 0.15) solid #d8dfe8;
  --layout-aside-navbar-item-active-background-color: #516580;
  --layout-aside-navbar-item-actioncon-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-background-color: #516580;
  --layout-aside-navbar-item-actioncon-color: #ebeff4;
  --layout-aside-navbar-item-actioncon-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-hover-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-background-color: #516580;
  --layout-aside-navbar-item-actioncon-hover-color: #ebeff4;
  --layout-aside-navbar-logo-title-color: #ebeff4;
  --layout-aside-navbar-logo-title-font-size: small;
}

/****************************************************************************************************************/

.tf_layout-main {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  padding: var(--layout-main-padding, calc(var(--key-size) * 0.5));
  font-size: var(--layout-main-font-size, calc(var(--key-size) * 0.875));
  overflow: auto;
}
.tf_layout-main > :last-child {
  margin-bottom: var(--m-3, var(--key-size));
}

/****************************************************************************************************************/

.p-0 {
  padding: 0  !important;
}
.p-1 {
  padding: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.p-2 {
  padding: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.p-3 {
  padding: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.p-4 {
  padding: var(--p-4, var(--key-size)) !important;
}
.p-5 {
  padding: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.p-6 {
  padding: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.p-7 {
  padding: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.p-8 {
  padding: var(--p-8, calc(var(--key-size) * 2)) !important;
}

/****************************************************************************************************************/

.tf_btn {
  position: relative;
  display: inline-block;
  margin: unset;
  padding: calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.625);
  background-color: var(--negative-color-15);
  border: calc(var(--key-size) * 0.0625) solid transparent;
  border-radius: calc(var(--key-size) * 0.125);
  vertical-align: middle;
  text-align: center;
  color: var(--negative-color);
  font-size: var(--key-size);
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.tf_btn:hover {
  background-color: var(--negative-color-25);
}
a.tf_btn:hover {
  color: inherit;
  text-decoration: none;
}
.tf_btn:disabled {
  background-color: var(--negative-color-15);
  color: var(--negative-color-25);
  pointer-events: none;
}
.tf_btn:disabled.active {
  color: var(--negative-color-50);
}
.tf_btn:focus {
  background-color: var(--negative-color-25);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
  outline: 0;
}
.tf_btn.active {
  background-color: var(--negative-color-25);
}
.tf_btn.tf_btn-drop.used,
.tf_btn.used {
  position: relative;
}
.tf_btn.tf_btn-drop.used:after,
.tf_btn.used:after {
  content: '';
  position: absolute;
  top: calc(var(--key-size) * 0.0625);
  right: calc(var(--key-size) * 0.0625);
  width: calc(var(--key-size) * 0.5);
  height: calc(var(--key-size) * 0.5);
  border-radius: var(--key-size);
}
.tf_btn.tf_btn-drop.used:not(.tf_btn-transparent):after,
.tf_btn.used:not(.tf_btn-transparent):after {
  background-color: currentColor;
}
.tf_btn.tf_btn-drop.used.tf_btn-transparent:after,
.tf_btn.used.tf_btn-transparent:after {
  background-color: var(--primary-color);
}
.tf_btn-inverse {
  background-color: var(--negative-color);
  color: var(--positive-color);
}
.tf_btn-inverse:hover {
  background-color: var(--negative-color-75);
}
.tf_btn-inverse:disabled {
  background-color: var(--negative-color-50);
  color: var(--positive-color-25);
}
.tf_btn-inverse:disabled.active {
  color: var(--positive-color-50);
}
.tf_btn-inverse:focus {
  background-color: var(--negative-color);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
}
.tf_btn-inverse.active {
  background-color: var(--negative-color-75);
}
.tf_btn-transparent {
  background-color: transparent;
  color: var(--negative-color-85);
}
.tf_btn-transparent:hover {
  background-color: var(--negative-color-15);
}
.tf_btn-transparent:disabled {
  background-color: transparent;
  color: var(--negative-color-25);
}
.tf_btn-transparent:disabled.active {
  color: var(--negative-color-50);
}
.tf_btn-transparent:focus {
  background-color: var(--negative-color-15);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
}
.tf_btn-transparent.active {
  background-color: var(--negative-color-15);
}
.tf_btn-primary {
  background-color: var(--primary-color);
  color: var(--positive-color);
}
.tf_btn-primary:hover {
  background-color: var(--primary-color-d1);
}
.tf_btn-primary:disabled {
  background-color: var(--primary-color-l1);
  color: var(--primary-color-l2);
}
.tf_btn-primary:disabled.active {
  color: var(--primary-color-l2);
}
.tf_btn-primary:focus {
  background-color: var(--primary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--primary-color);
}
.tf_btn-primary.active {
  background-color: var(--primary-color-d1);
}
.tf_btn-secondary {
  background-color: var(--secondary-color);
  color: var(--positive-color);
}
.tf_btn-secondary:hover {
  background-color: var(--secondary-color-d1);
}
.tf_btn-secondary:disabled {
  background-color: var(--secondary-color-l1);
  color: var(--secondary-color-l2);
}
.tf_btn-secondary:disabled.active {
  color: var(--secondary-color-l2);
}
.tf_btn-secondary:focus {
  background-color: var(--secondary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--secondary-color);
}
.tf_btn-secondary.active {
  background-color: var(--secondary-color-d1);
}
.tf_btn-info {
  background-color: var(--info-color);
  color: var(--positive-color);
}
.tf_btn-info:hover {
  background-color: var(--info-color-d1);
}
.tf_btn-info:disabled {
  background-color: var(--info-color-l1);
  color: var(--info-color-l2);
}
.tf_btn-info:disabled.active {
  color: var(--info-color-l2);
}
.tf_btn-info:focus {
  background-color: var(--info-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--info-color);
}
.tf_btn-info.active {
  background-color: var(--info-color-d1);
}
.tf_btn-success {
  background-color: var(--success-color);
  color: var(--positive-color);
}
.tf_btn-success:hover {
  background-color: var(--success-color-d1);
}
.tf_btn-success:disabled {
  background-color: var(--success-color-l1);
  color: var(--success-color-l2);
}
.tf_btn-success:disabled.active {
  color: var(--success-color-l2);
}
.tf_btn-success:focus {
  background-color: var(--success-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--success-color);
}
.tf_btn-success.active {
  background-color: var(--success-color-d1);
}
.tf_btn-warning {
  background-color: var(--warning-color);
  color: var(--positive-color);
}
.tf_btn-warning:hover {
  background-color: var(--warning-color-d1);
}
.tf_btn-warning:disabled {
  background-color: var(--warning-color-l1);
  color: var(--warning-color-l2);
}
.tf_btn-warning:disabled.active {
  color: var(--warning-color-l2);
}
.tf_btn-warning:focus {
  background-color: var(--warning-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--warning-color);
}
.tf_btn-warning.active {
  background-color: var(--warning-color-d1);
}
.tf_btn-error {
  background-color: var(--error-color);
  color: var(--positive-color);
}
.tf_btn-error:hover {
  background-color: var(--error-color-d1);
}
.tf_btn-error:disabled {
  background-color: var(--error-color-l1);
  color: var(--error-color-l2);
}
.tf_btn-error:disabled.active {
  color: var(--error-color-l2);
}
.tf_btn-error:focus {
  background-color: var(--error-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--error-color);
}
.tf_btn-error.active {
  background-color: var(--error-color-d1);
}
.tf_btn-group {
  display: inline-flex;
}
.tf_btn-group > .tf_btn:not(:first-child),
.tf_btn-group > [class*="tf_drop"]:not(:first-child) > .tf_btn-drop {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tf_btn-group > .tf_btn:not(:last-child),
.tf_btn-group > [class*="tf_drop"]:not(:last-child) > .tf_btn-drop {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tf_btn-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  padding: calc(var(--key-size-xs) * 0.25) calc(var(--key-size-xs) * 0.625);
  font-size: var(--key-size-xs);
}
.tf_btn-xs.tf_btn-drop.used:after,
.tf_btn-xs.used:after {
  top: calc(var(--key-size-xs) * 0.0625);
  right: calc(var(--key-size-xs) * 0.0625);
  width: calc(var(--key-size-xs) * 0.5);
  height: calc(var(--key-size-xs) * 0.5);
  border-radius: var(--key-size-xs);
}
.tf_btn-sm {
  --key-size-sm: calc(var(--key-size) * 0.875);
  padding: calc(var(--key-size-sm) * 0.25) calc(var(--key-size-sm) * 0.625);
  font-size: var(--key-size-sm);
}
.tf_btn-sm.tf_btn-drop.used:after,
.tf_btn-sm.used:after {
  top: calc(var(--key-size-sm) * 0.0625);
  right: calc(var(--key-size-sm) * 0.0625);
  width: calc(var(--key-size-sm) * 0.5);
  height: calc(var(--key-size-sm) * 0.5);
  border-radius: var(--key-size-sm);
}
.tf_btn-lg {
  --key-size-lg: calc(var(--key-size) * 1.125);
  padding: calc(var(--key-size-lg) * 0.25) calc(var(--key-size-lg) * 0.625);
  font-size: var(--key-size-lg);
}
.tf_btn-lg.tf_btn-drop.used:after,
.tf_btn-lg.used:after {
  top: calc(var(--key-size-lg) * 0.0625);
  right: calc(var(--key-size-lg) * 0.0625);
  width: calc(var(--key-size-lg) * 0.5);
  height: calc(var(--key-size-lg) * 0.5);
  border-radius: var(--key-size-lg);
}
.tf_btn-icon {
  min-width: calc(calc(calc(var(--key-size) * 1.5) + 0.125rem) + calc(var(--key-size) * 0.25 * 2));
  padding: calc(var(--key-size) * 0.25);
}
.tf_btn-icon.tf_btn-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  min-width: calc(calc(calc(var(--key-size-xs) * 1.5) + .125rem) + calc(var(--key-size-xs) * .25 * 2));
  padding: calc(var(--key-size-xs) * 0.25);
}
.tf_btn-icon.tf_btn-sm {
  --key-size-sm: calc(var(--key-size) * 0.875);
  min-width: calc(calc(calc(var(--key-size-sm) * 1.5) + .125rem) + calc(var(--key-size-sm) * .25 * 2));
  padding: calc(var(--key-size-sm) * 0.25);
}
.tf_btn-icon.tf_btn-lg {
  --key-size-lg: calc(var(--key-size) * 1.125);
  min-width: calc(calc(calc(var(--key-size-lg) * 1.5) + 0.125rem) + calc(var(--key-size-lg) * 0.25 * 2));
  padding: calc(var(--key-size-lg) * 0.25);
}

/*********************************************************************************************************/

.btn,
.btn:hover,
.btn:focus {
 background: center no-repeat transparent;
 box-shadow: none;
 border-radius: 0;
 font-size: 14px;
 text-decoration: none;
}
.btn.disabled,
.btn:hover.disabled,
.btn:focus.disabled,
.btn[disabled],
.btn:hover[disabled],
.btn:focus[disabled] {
  background-color: #e4e4e4;
}
.btn.active,
.btn:hover.active,
.btn:focus.active,
.btn-group.open > .btn[data-toggle="dropdown"]:not(.btn-primary),
.btn-group.open > .btn:hover[data-toggle="dropdown"]:not(.btn-primary),
.btn-group.open > .btn:focus[data-toggle="dropdown"]:not(.btn-primary),
.dropdown.open > .btn[data-toggle="dropdown"],
.dropdown.open > .btn:hover[data-toggle="dropdown"],
.dropdown.open > .btn:focus[data-toggle="dropdown"] {
  box-shadow: none;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
}
.btn.btn-primary,
.btn:hover.btn-primary,
.btn:focus.btn-primary,
.btn.btn-danger,
.btn:hover.btn-danger,
.btn:focus.btn-danger,
.btn.do-remove,
.btn:hover.do-remove,
.btn:focus.do-remove {
  background: #2569c9;
  text-shadow: none;
  color: white;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}
.btn-group > .btn-small + .dropdown-toggle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
