:root {
  --key-size: 1rem;
  --primary-color-l2: #bfddf1;
  --primary-color-l1: #80bbe3;
  --primary-color: #0077c8;
  --primary-color-d1: #003b63;
  --primary-color-d2: #001e32;
  --secondary-color-l2: #e1e2e2;
  --secondary-color-l1: #c3c5c6;
  --secondary-color: #888b8d;
  --secondary-color-d1: #434546;
  --secondary-color-d2: #222323;
  --info-color-l2: #bfecf8;
  --info-color-l1: #80daf0;
  --info-color: #00b5e2;
  --info-color-d1: #005a70;
  --info-color-d2: #002d39;
  --success-color-l2: #c9e9d0;
  --success-color-l1: #94d3a2;
  --success-color: #28a745;
  --success-color-d1: #145322;
  --success-color-d2: #0a2a11;
  --warning-color-l2: #ffe8bf;
  --warning-color-l1: #ffd180;
  --warning-color: #ffa300;
  --warning-color-d1: #7f5100;
  --warning-color-d2: #402900;
  --error-color-l2: #f6ccd0;
  --error-color-l1: #ed9aa2;
  --error-color: #dc3545;
  --error-color-d1: #6d1a22;
  --error-color-d2: #370d11;
  --positive-color: #ffffff;
  --positive-color-90: rgba(255, 255, 255, 0.9);
  --positive-color-85: rgba(255, 255, 255, 0.85);
  --positive-color-75: rgba(255, 255, 255, 0.75);
  --positive-color-50: rgba(255, 255, 255, 0.5);
  --positive-color-25: rgba(255, 255, 255, 0.25);
  --positive-color-15: rgba(255, 255, 255, 0.15);
  --positive-color-10: rgba(255, 255, 255, 0.1);
  --negative-color-10: rgba(0, 0, 0, 0.1);
  --negative-color-15: rgba(0, 0, 0, 0.15);
  --negative-color-25: rgba(0, 0, 0, 0.25);
  --negative-color-50: rgba(0, 0, 0, 0.5);
  --negative-color-75: rgba(0, 0, 0, 0.75);
  --negative-color-85: rgba(0, 0, 0, 0.85);
  --negative-color-90: rgba(0, 0, 0, 0.9);
  --negative-color: #000000;
  --transparent-color: transparent;
  --background-color: var(--positive-color);
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/roboto/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/sourcesanspro/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/sourcesanspro/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/sourcesanspro/SourceSansPro-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/sourcesanspro/SourceSansPro-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/sourcesanspro/SourceSansPro-Black.ttf) format('truetype');
}
html {
  background-color: var(--background-color);
  color: var(--negative-color-85);
  font-family: Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html,
body {
  position: relative;
  height: 100%;
}
hr {
  margin-top: var(--key-size);
  margin-bottom: var(--key-size);
  height: calc(var(--key-size) * 0.0625);
  background-color: currentColor;
  border-width: 0;
  color: inherit;
  opacity: 0.25;
}
:root {
  --background-color: #ebeff4;
  --layout-main-font-size: calc(var(--key-size) * 0.875);
  --layout-header-content-background-color: #b1bfd1;
  --layout-aside-expander-color: #ebeff4;
  --layout-aside-expander-background-color: #222f3f;
  --layout-aside-navbar-background-color: #222f3f;
  --layout-aside-navbar-item-color: #ebeff4;
  --layout-aside-navbar-item-hover: #516580;
  --layout-aside-navbar-item-hover-background-color: var(--positive-color-10);
  --layout-aside-navbar-item-active-margin: calc(var(--key-size) * 0.25);
  --layout-aside-navbar-item-active-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-active-border-left-width: calc(var(--key-size) * 0.15) solid #d8dfe8;
  --layout-aside-navbar-item-active-background-color: #516580;
  --layout-aside-navbar-item-actioncon-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-background-color: #516580;
  --layout-aside-navbar-item-actioncon-color: #ebeff4;
  --layout-aside-navbar-item-actioncon-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-hover-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-background-color: #516580;
  --layout-aside-navbar-item-actioncon-hover-color: #ebeff4;
  --layout-aside-navbar-logo-title-color: #ebeff4;
  --layout-aside-navbar-logo-title-font-size: small;
}

/****************************************************************************************************************/

.tf_layout-main {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  padding: var(--layout-main-padding, calc(var(--key-size) * 0.5));
  font-size: var(--layout-main-font-size, calc(var(--key-size) * 0.875));
  overflow: auto;
}
.tf_layout-main > :last-child {
  margin-bottom: var(--m-3, var(--key-size));
}

/****************************************************************************************************************/

.inline-set {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}
.text-smallcaps {
  font-variant: small-caps !important;
}
.text-positive {
  color: var(--positive-color) !important;
}
.text-negative {
  color: var(--negative-color) !important;
}
.text-background {
  color: var(--background-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-info {
  color: var(--info-color) !important;
}
.text-success {
  color: var(--success-color) !important;
}
.text-warning {
  color: var(--warning-color) !important;
}
.text-error {
  color: var(--error-color) !important;
}
.text-currentcolor {
  color: currentColor !important;
}
.p-0 {
  padding: 0  !important;
}
.p-1 {
  padding: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.p-2 {
  padding: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.p-3 {
  padding: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.p-4 {
  padding: var(--p-4, var(--key-size)) !important;
}
.p-5 {
  padding: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.p-6 {
  padding: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.p-7 {
  padding: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.p-8 {
  padding: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.py-1 {
  padding-top: var(--p-1, calc(var(--key-size) * 0.25)) !important;
  padding-bottom: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.px-1 {
  padding-left: var(--p-1, calc(var(--key-size) * 0.25)) !important;
  padding-right: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.py-2 {
  padding-top: var(--p-2, calc(var(--key-size) * 0.5)) !important;
  padding-bottom: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.px-2 {
  padding-left: var(--p-2, calc(var(--key-size) * 0.5)) !important;
  padding-right: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.py-3 {
  padding-top: var(--p-3, calc(var(--key-size) * 0.75)) !important;
  padding-bottom: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.px-3 {
  padding-left: var(--p-3, calc(var(--key-size) * 0.75)) !important;
  padding-right: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.py-4 {
  padding-top: var(--p-4, var(--key-size)) !important;
  padding-bottom: var(--p-4, var(--key-size)) !important;
}
.px-4 {
  padding-left: var(--p-4, var(--key-size)) !important;
  padding-right: var(--p-4, var(--key-size)) !important;
}
.py-5 {
  padding-top: var(--p-5, calc(var(--key-size) * 1.25)) !important;
  padding-bottom: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.px-5 {
  padding-left: var(--p-5, calc(var(--key-size) * 1.25)) !important;
  padding-right: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.py-6 {
  padding-top: var(--p-6, calc(var(--key-size) * 1.5)) !important;
  padding-bottom: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.px-6 {
  padding-left: var(--p-6, calc(var(--key-size) * 1.5)) !important;
  padding-right: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.py-7 {
  padding-top: var(--p-7, calc(var(--key-size) * 1.75)) !important;
  padding-bottom: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.px-7 {
  padding-left: var(--p-7, calc(var(--key-size) * 1.75)) !important;
  padding-right: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.py-8 {
  padding-top: var(--p-8, calc(var(--key-size) * 2)) !important;
  padding-bottom: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.px-8 {
  padding-left: var(--p-8, calc(var(--key-size) * 2)) !important;
  padding-right: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pt-1 {
  padding-top: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.pr-1 {
  padding-right: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.pb-1 {
  padding-bottom: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.pl-1 {
  padding-left: var(--p-1, calc(var(--key-size) * 0.25)) !important;
}
.pt-2 {
  padding-top: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.pr-2 {
  padding-right: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.pb-2 {
  padding-bottom: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.pl-2 {
  padding-left: var(--p-2, calc(var(--key-size) * 0.5)) !important;
}
.pt-3 {
  padding-top: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.pr-3 {
  padding-right: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.pb-3 {
  padding-bottom: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.pl-3 {
  padding-left: var(--p-3, calc(var(--key-size) * 0.75)) !important;
}
.pt-4 {
  padding-top: var(--p-4, var(--key-size)) !important;
}
.pr-4 {
  padding-right: var(--p-4, var(--key-size)) !important;
}
.pb-4 {
  padding-bottom: var(--p-4, var(--key-size)) !important;
}
.pl-4 {
  padding-left: var(--p-4, var(--key-size)) !important;
}
.pt-5 {
  padding-top: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.pr-5 {
  padding-right: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.pb-5 {
  padding-bottom: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.pl-5 {
  padding-left: var(--p-5, calc(var(--key-size) * 1.25)) !important;
}
.pt-6 {
  padding-top: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.pr-6 {
  padding-right: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.pb-6 {
  padding-bottom: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.pl-6 {
  padding-left: var(--p-6, calc(var(--key-size) * 1.5)) !important;
}
.pt-7 {
  padding-top: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.pr-7 {
  padding-right: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.pb-7 {
  padding-bottom: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.pl-7 {
  padding-left: var(--p-7, calc(var(--key-size) * 1.75)) !important;
}
.pt-8 {
  padding-top: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.pr-8 {
  padding-right: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.pb-8 {
  padding-bottom: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.pl-8 {
  padding-left: var(--p-8, calc(var(--key-size) * 2)) !important;
}
.g-0,
.gap-0 {
  grid-gap: 0 !important;
}
.g-1,
.gap-1 {
  grid-gap: var(--g-1, calc(var(--key-size) * 0.25)) !important;
}
.g-2,
.gap-2 {
  grid-gap: var(--g-2, calc(var(--key-size) * 0.5)) !important;
}
.g-3,
.gap-3 {
  grid-gap: var(--g-3, calc(var(--key-size) * 0.75)) !important;
}
.g-4,
.gap-4 {
  grid-gap: var(--g-4, var(--key-size)) !important;
}
.g-5,
.gap-5 {
  grid-gap: var(--g-5, calc(var(--key-size) * 1.25)) !important;
}
.g-6,
.gap-6 {
  grid-gap: var(--g-6, calc(var(--key-size) * 1.5)) !important;
}
.g-7,
.gap-7 {
  grid-gap: var(--g-7, calc(var(--key-size) * 1.75)) !important;
}
.g-8,
.gap-8 {
  grid-gap: var(--g-8, calc(var(--key-size) * 2)) !important;
}
.text-start {
  text-align: start !important;
}
.text-left {
  text-align: left !important;
}
.text-end {
  text-align: end !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-end {
  align-content: end !important;
}
.align-content-evenly {
  align-content: space-evenly !important;
}
.align-content-start {
  align-content: start !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: end !important;
}
.align-items-start {
  align-items: start !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-end {
  align-self: end !important;
}
.align-self-start {
  align-self: start !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-clip {
  overflow: clip !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.overflow-y-scroll {
  overflow-y: scroll !important;
}
.overflow-x-clip {
  overflow-x: clip !important;
}
.overflow-y-clip {
  overflow-y: clip !important;
}
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: sticky !important;
  z-index: 1;
}
.d-inline {
  display: inline !important;
}
.d-block {
  display: block !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-grid {
  display: grid !important;
}
.d-inline-grid {
  display: inline-grid !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-table {
  display: table;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-none {
  display: none !important;
}
.d-unset {
  display: unset !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-equal {
  flex: 1 1 0 !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.tf_input-group {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.tf_input-group > * {
  z-index: 0;
}
.tf_input-group > *:focus {
  z-index: 1;
}
.tf_input-group > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tf_input-group > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tf_input-group-text {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  margin: unset;
  padding: calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.5);
  min-width: calc(calc(calc(var(--key-size) * 1.5) + 0.125rem) + calc(var(--key-size) * 0.25 * 2));
  background: var(--negative-color-15);
  border-radius: calc(var(--key-size) * 0.125);
  line-height: 1.5;
  font-size: var(--key-size);
}
.tf_input-group-text-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  min-width: calc(calc(calc(var(--key-size-xs) * 1.5) + 0.125rem) + calc(var(--key-size-xs) * 0.25 * 2));
  padding: calc(var(--key-size-xs) * 0.25) calc(var(--key-size-xs) * 0.5);
  font-size: var(--key-size-xs);
}
.tf_input-group-text-sm {
  --key-size-sm: calc(var(--key-size) * 0.875);
  min-width: calc(calc(calc(var(--key-size-sm) * 1.5) + 0.125rem) + calc(var(--key-size-sm) * 0.25 * 2));
  padding: calc(var(--key-size-sm) * 0.25) calc(var(--key-size-sm) * 0.5);
  font-size: var(--key-size-sm);
}
.tf_input-group-text-lg {
  --key-size-lg: calc(var(--key-size) * 1.125);
  min-width: calc(calc(calc(var(--key-size-lg) * 1.5) + 0.125rem) + calc(var(--key-size-lg) * 0.25 * 2));
  padding: calc(var(--key-size-lg) * 0.25) calc(var(--key-size-lg) * 0.5);
  font-size: var(--key-size-lg);
}
.tf_input-group .tf_form-control {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: auto;
}
.tf_form-control {
  display: block;
  margin: unset;
  width: 100%;
  padding: calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.625);
  background-color: var(--positive-color);
  background-clip: padding-box;
  border: calc(var(--key-size) * 0.0625) solid currentColor;
  border-radius: calc(var(--key-size) * 0.125);
  color: inherit;
  font-size: var(--key-size);
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
}
.tf_form-control-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  padding: calc(var(--key-size-xs) * 0.25) calc(var(--key-size-xs) * 0.625);
  font-size: var(--key-size-xs);
}
.tf_form-control-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color-d1);
}
.tf_form-control-secondary:hover {
  border-color: var(--secondary-color-d1);
}
.tf_form-control-secondary:disabled {
  border-color: var(--secondary-color-l1);
  background-color: var(--secondary-color-l2);
  color: var(--secondary-color-l1);
}
.tf_form-control-secondary:focus {
  border-color: var(--secondary-color-d1);
}
.tf_form-control-secondary::placeholder {
  color: var(--secondary-color);
}
/****************************************************************************************************************/

.tf_btn {
  position: relative;
  display: inline-block;
  margin: unset;
  padding: calc(var(--key-size) * 0.25) calc(var(--key-size) * 0.625);
  background-color: var(--negative-color-15);
  border: calc(var(--key-size) * 0.0625) solid transparent;
  border-radius: calc(var(--key-size) * 0.125);
  vertical-align: middle;
  text-align: center;
  color: var(--negative-color);
  font-size: var(--key-size);
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.tf_btn:hover {
  background-color: var(--negative-color-25);
}
a.tf_btn:hover {
  color: inherit;
  text-decoration: none;
}
.tf_btn:disabled {
  background-color: var(--negative-color-15);
  color: var(--negative-color-25);
  pointer-events: none;
}
.tf_btn:disabled.active {
  color: var(--negative-color-50);
}
.tf_btn:focus {
  background-color: var(--negative-color-25);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
  outline: 0;
}
.tf_btn.active {
  background-color: var(--negative-color-25);
}
.tf_btn.tf_btn-drop.used,
.tf_btn.used {
  position: relative;
}
.tf_btn.tf_btn-drop.used:after,
.tf_btn.used:after {
  content: '';
  position: absolute;
  top: calc(var(--key-size) * 0.0625);
  right: calc(var(--key-size) * 0.0625);
  width: calc(var(--key-size) * 0.5);
  height: calc(var(--key-size) * 0.5);
  border-radius: var(--key-size);
}
.tf_btn.tf_btn-drop.used:not(.tf_btn-transparent):after,
.tf_btn.used:not(.tf_btn-transparent):after {
  background-color: currentColor;
}
.tf_btn.tf_btn-drop.used.tf_btn-transparent:after,
.tf_btn.used.tf_btn-transparent:after {
  background-color: var(--primary-color);
}
.tf_btn-inverse {
  background-color: var(--negative-color);
  color: var(--positive-color);
}
.tf_btn-inverse:hover {
  background-color: var(--negative-color-75);
}
.tf_btn-inverse:disabled {
  background-color: var(--negative-color-50);
  color: var(--positive-color-25);
}
.tf_btn-inverse:disabled.active {
  color: var(--positive-color-50);
}
.tf_btn-inverse:focus {
  background-color: var(--negative-color);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
}
.tf_btn-inverse.active {
  background-color: var(--negative-color-75);
}
.tf_btn-transparent {
  background-color: transparent;
  color: var(--negative-color-85);
}
.tf_btn-transparent:hover {
  background-color: var(--negative-color-15);
}
.tf_btn-transparent:disabled {
  background-color: transparent;
  color: var(--negative-color-25);
}
.tf_btn-transparent:disabled.active {
  color: var(--negative-color-50);
}
.tf_btn-transparent:focus {
  background-color: var(--negative-color-15);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--negative-color-50);
}
.tf_btn-transparent.active {
  background-color: var(--negative-color-15);
}
.tf_btn-primary {
  background-color: var(--primary-color);
  color: var(--positive-color);
}
.tf_btn-primary:hover {
  background-color: var(--primary-color-d1);
}
.tf_btn-primary:disabled {
  background-color: var(--primary-color-l1);
  color: var(--primary-color-l2);
}
.tf_btn-primary:disabled.active {
  color: var(--primary-color-l2);
}
.tf_btn-primary:focus {
  background-color: var(--primary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--primary-color);
}
.tf_btn-primary.active {
  background-color: var(--primary-color-d1);
}
.tf_btn-secondary {
  background-color: var(--secondary-color);
  color: var(--positive-color);
}
.tf_btn-secondary:hover {
  background-color: var(--secondary-color-d1);
}
.tf_btn-secondary:disabled {
  background-color: var(--secondary-color-l1);
  color: var(--secondary-color-l2);
}
.tf_btn-secondary:disabled.active {
  color: var(--secondary-color-l2);
}
.tf_btn-secondary:focus {
  background-color: var(--secondary-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--secondary-color);
}
.tf_btn-secondary.active {
  background-color: var(--secondary-color-d1);
}
.tf_btn-info {
  background-color: var(--info-color);
  color: var(--positive-color);
}
.tf_btn-info:hover {
  background-color: var(--info-color-d1);
}
.tf_btn-info:disabled {
  background-color: var(--info-color-l1);
  color: var(--info-color-l2);
}
.tf_btn-info:disabled.active {
  color: var(--info-color-l2);
}
.tf_btn-info:focus {
  background-color: var(--info-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--info-color);
}
.tf_btn-info.active {
  background-color: var(--info-color-d1);
}
.tf_btn-success {
  background-color: var(--success-color);
  color: var(--positive-color);
}
.tf_btn-success:hover {
  background-color: var(--success-color-d1);
}
.tf_btn-success:disabled {
  background-color: var(--success-color-l1);
  color: var(--success-color-l2);
}
.tf_btn-success:disabled.active {
  color: var(--success-color-l2);
}
.tf_btn-success:focus {
  background-color: var(--success-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--success-color);
}
.tf_btn-success.active {
  background-color: var(--success-color-d1);
}
.tf_btn-warning {
  background-color: var(--warning-color);
  color: var(--positive-color);
}
.tf_btn-warning:hover {
  background-color: var(--warning-color-d1);
}
.tf_btn-warning:disabled {
  background-color: var(--warning-color-l1);
  color: var(--warning-color-l2);
}
.tf_btn-warning:disabled.active {
  color: var(--warning-color-l2);
}
.tf_btn-warning:focus {
  background-color: var(--warning-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--warning-color);
}
.tf_btn-warning.active {
  background-color: var(--warning-color-d1);
}
.tf_btn-error {
  background-color: var(--error-color);
  color: var(--positive-color);
}
.tf_btn-error:hover {
  background-color: var(--error-color-d1);
}
.tf_btn-error:disabled {
  background-color: var(--error-color-l1);
  color: var(--error-color-l2);
}
.tf_btn-error:disabled.active {
  color: var(--error-color-l2);
}
.tf_btn-error:focus {
  background-color: var(--error-color-d1);
  box-shadow: 0 0 0 calc(var(--key-size) * 0.125) var(--error-color);
}
.tf_btn-error.active {
  background-color: var(--error-color-d1);
}
.tf_btn-group {
  display: inline-flex;
}
.tf_btn-group > .tf_btn:not(:first-child),
.tf_btn-group > [class*="tf_drop"]:not(:first-child) > .tf_btn-drop {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tf_btn-group > .tf_btn:not(:last-child),
.tf_btn-group > [class*="tf_drop"]:not(:last-child) > .tf_btn-drop {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tf_btn-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  padding: calc(var(--key-size-xs) * 0.25) calc(var(--key-size-xs) * 0.625);
  font-size: var(--key-size-xs);
}
.tf_btn-xs.tf_btn-drop.used:after,
.tf_btn-xs.used:after {
  top: calc(var(--key-size-xs) * 0.0625);
  right: calc(var(--key-size-xs) * 0.0625);
  width: calc(var(--key-size-xs) * 0.5);
  height: calc(var(--key-size-xs) * 0.5);
  border-radius: var(--key-size-xs);
}
.tf_btn-sm {
  --key-size-sm: calc(var(--key-size) * 0.875);
  padding: calc(var(--key-size-sm) * 0.25) calc(var(--key-size-sm) * 0.625);
  font-size: var(--key-size-sm);
}
.tf_btn-sm.tf_btn-drop.used:after,
.tf_btn-sm.used:after {
  top: calc(var(--key-size-sm) * 0.0625);
  right: calc(var(--key-size-sm) * 0.0625);
  width: calc(var(--key-size-sm) * 0.5);
  height: calc(var(--key-size-sm) * 0.5);
  border-radius: var(--key-size-sm);
}
.tf_btn-lg {
  --key-size-lg: calc(var(--key-size) * 1.125);
  padding: calc(var(--key-size-lg) * 0.25) calc(var(--key-size-lg) * 0.625);
  font-size: var(--key-size-lg);
}
.tf_btn-lg.tf_btn-drop.used:after,
.tf_btn-lg.used:after {
  top: calc(var(--key-size-lg) * 0.0625);
  right: calc(var(--key-size-lg) * 0.0625);
  width: calc(var(--key-size-lg) * 0.5);
  height: calc(var(--key-size-lg) * 0.5);
  border-radius: var(--key-size-lg);
}
.tf_btn-icon {
  min-width: calc(calc(calc(var(--key-size) * 1.5) + 0.125rem) + calc(var(--key-size) * 0.25 * 2));
  padding: calc(var(--key-size) * 0.25);
}
.tf_btn-icon.tf_btn-xs {
  --key-size-xs: calc(var(--key-size) * 0.75);
  min-width: calc(calc(calc(var(--key-size-xs) * 1.5) + .125rem) + calc(var(--key-size-xs) * .25 * 2));
  padding: calc(var(--key-size-xs) * 0.25);
}
.tf_btn-icon.tf_btn-sm {
  --key-size-sm: calc(var(--key-size) * 0.875);
  min-width: calc(calc(calc(var(--key-size-sm) * 1.5) + .125rem) + calc(var(--key-size-sm) * .25 * 2));
  padding: calc(var(--key-size-sm) * 0.25);
}
.tf_btn-icon.tf_btn-lg {
  --key-size-lg: calc(var(--key-size) * 1.125);
  min-width: calc(calc(calc(var(--key-size-lg) * 1.5) + 0.125rem) + calc(var(--key-size-lg) * 0.25 * 2));
  padding: calc(var(--key-size-lg) * 0.25);
}

/*********************************************************************************************************/

.btn,
.btn:hover,
.btn:focus {
 background: center no-repeat transparent;
 box-shadow: none;
 border-radius: 0;
 font-size: 14px;
 text-decoration: none;
}
.btn.disabled,
.btn:hover.disabled,
.btn:focus.disabled,
.btn[disabled],
.btn:hover[disabled],
.btn:focus[disabled] {
  background-color: #e4e4e4;
}
.btn.active,
.btn:hover.active,
.btn:focus.active,
.btn-group.open > .btn[data-toggle="dropdown"]:not(.btn-primary),
.btn-group.open > .btn:hover[data-toggle="dropdown"]:not(.btn-primary),
.btn-group.open > .btn:focus[data-toggle="dropdown"]:not(.btn-primary),
.dropdown.open > .btn[data-toggle="dropdown"],
.dropdown.open > .btn:hover[data-toggle="dropdown"],
.dropdown.open > .btn:focus[data-toggle="dropdown"] {
  box-shadow: none;
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.15);
  outline: none;
}
.btn.btn-primary,
.btn:hover.btn-primary,
.btn:focus.btn-primary,
.btn.btn-danger,
.btn:hover.btn-danger,
.btn:focus.btn-danger,
.btn.do-remove,
.btn:hover.do-remove,
.btn:focus.do-remove {
  background: #2569c9;
  text-shadow: none;
  color: white;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}
.btn-group > .btn-small + .dropdown-toggle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
}
