:root {
  --key-size: 1rem;
  --primary-color-l2: #bfddf1;
  --primary-color-l1: #80bbe3;
  --primary-color: #0077c8;
  --primary-color-d1: #003b63;
  --primary-color-d2: #001e32;
  --secondary-color-l2: #e1e2e2;
  --secondary-color-l1: #c3c5c6;
  --secondary-color: #888b8d;
  --secondary-color-d1: #434546;
  --secondary-color-d2: #222323;
  --info-color-l2: #bfecf8;
  --info-color-l1: #80daf0;
  --info-color: #00b5e2;
  --info-color-d1: #005a70;
  --info-color-d2: #002d39;
  --success-color-l2: #c9e9d0;
  --success-color-l1: #94d3a2;
  --success-color: #28a745;
  --success-color-d1: #145322;
  --success-color-d2: #0a2a11;
  --warning-color-l2: #ffe8bf;
  --warning-color-l1: #ffd180;
  --warning-color: #ffa300;
  --warning-color-d1: #7f5100;
  --warning-color-d2: #402900;
  --error-color-l2: #f6ccd0;
  --error-color-l1: #ed9aa2;
  --error-color: #dc3545;
  --error-color-d1: #6d1a22;
  --error-color-d2: #370d11;
  --positive-color: #ffffff;
  --positive-color-90: rgba(255, 255, 255, 0.9);
  --positive-color-85: rgba(255, 255, 255, 0.85);
  --positive-color-75: rgba(255, 255, 255, 0.75);
  --positive-color-50: rgba(255, 255, 255, 0.5);
  --positive-color-25: rgba(255, 255, 255, 0.25);
  --positive-color-15: rgba(255, 255, 255, 0.15);
  --positive-color-10: rgba(255, 255, 255, 0.1);
  --negative-color-10: rgba(0, 0, 0, 0.1);
  --negative-color-15: rgba(0, 0, 0, 0.15);
  --negative-color-25: rgba(0, 0, 0, 0.25);
  --negative-color-50: rgba(0, 0, 0, 0.5);
  --negative-color-75: rgba(0, 0, 0, 0.75);
  --negative-color-85: rgba(0, 0, 0, 0.85);
  --negative-color-90: rgba(0, 0, 0, 0.9);
  --negative-color: #000000;
  --transparent-color: transparent;
  --background-color: var(--positive-color);
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/roboto/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/sourcesanspro/SourceSansPro-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/sourcesanspro/SourceSansPro-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/sourcesanspro/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/sourcesanspro/SourceSansPro-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/sourcesanspro/SourceSansPro-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/sourcesanspro/SourceSansPro-Black.ttf) format('truetype');
}
html {
  background-color: var(--background-color);
  color: var(--negative-color-85);
  font-family: Roboto, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
html,
body {
  position: relative;
  height: 100%;
}
hr {
  margin-top: var(--key-size);
  margin-bottom: var(--key-size);
  height: calc(var(--key-size) * 0.0625);
  background-color: currentColor;
  border-width: 0;
  color: inherit;
  opacity: 0.25;
}
:root {
  --background-color: #ebeff4;
  --layout-main-font-size: calc(var(--key-size) * 0.875);
  --layout-header-content-background-color: #b1bfd1;
  --layout-aside-expander-color: #ebeff4;
  --layout-aside-expander-background-color: #222f3f;
  --layout-aside-navbar-background-color: #222f3f;
  --layout-aside-navbar-item-color: #ebeff4;
  --layout-aside-navbar-item-hover: #516580;
  --layout-aside-navbar-item-hover-background-color: var(--positive-color-10);
  --layout-aside-navbar-item-active-margin: calc(var(--key-size) * 0.25);
  --layout-aside-navbar-item-active-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-active-border-left-width: calc(var(--key-size) * 0.15) solid #d8dfe8;
  --layout-aside-navbar-item-active-background-color: #516580;
  --layout-aside-navbar-item-actioncon-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-background-color: #516580;
  --layout-aside-navbar-item-actioncon-color: #ebeff4;
  --layout-aside-navbar-item-actioncon-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-margin: auto calc(var(--key-size) * 0.5) auto auto;
  --layout-aside-navbar-item-actioncon-hover-width: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-height: calc(var(--key-size) * 2);
  --layout-aside-navbar-item-actioncon-hover-border-radius: calc(var(--key-size) * 0.125);
  --layout-aside-navbar-item-actioncon-hover-background-color: #516580;
  --layout-aside-navbar-item-actioncon-hover-color: #ebeff4;
  --layout-aside-navbar-logo-title-color: #ebeff4;
  --layout-aside-navbar-logo-title-font-size: small;
}
