input {
    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &[type="checkbox"] {
        width: auto;
        margin: 4px 0 0;
        line-height: normal;
        cursor: pointer;
        vertical-align: middle;
        appearance: auto;
        box-sizing: border-box;

        &:before {
            content: "";
            background-image: url(./img/uncheck.png);
            background-size: 23px;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: -5px;
            margin-left: -5px;
            position: absolute;
            width: 20px;
            height: 20px;

            &:checked {
                background-image: url(./img/check.png);
            }
        }
    }
}
