.popup-files-picker {
    position: relative;

    .popup-files-picker-value {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}