.adapters-links,
.reactflow-wrapper,
.react-flow {
    width: 100%;
    height: 100%;

    &.fff {
        color: #fff;
    }
}

.adapters-links {
    position: relative;
}

.react-flow__attribution {
    display: none;
}

.resizer {
    position: absolute;
    left: -8px;
    bottom: -15px;
    height: 7px;
    width: calc(100% + 16px);
    background: transparent;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */

    &:hover {
        background: #ebeff4;
        box-shadow: inset 0 -1px 0 0 #888, inset 0 1px 0 0 #888;
        cursor: ns-resize;
    }

    &.resizer-dragged {
        height: 8px;
        background: #888;
    }
}


.block-for-link {
	border-radius: var(--rounded-1,calc(var(--key-size) * 0.125)) !important;
	.block-wrapper {
		.block-label {
			box-shadow: none !important;
			color: unset !important;
			font-weight: 600 !important;
		}
	}
	&:not(.is-selected) {
		background-color: var(--warning-color-l2) !important;
		box-shadow: 0 0 0 1px var(--warning-color-l1) !important;
		.block-wrapper {
			.block-label {
				background-color: var(--warning-color-l1) !important;
			}
		}
	}
	&.is-selected {
		background-color: var(--warning-color-l1) !important;
		box-shadow: 0 0 0 1px var(--warning-color) !important;
		.block-wrapper {
			.block-label {
				background-color: var(--warning-color) !important;
			}
		}
	}
}
