.unitable-scrollbar-horizontal {
    position: absolute;
    right: 0;
    bottom: 1px;
    opacity: .3;
    width: 100%;
    display: flex;

    &:hover {
        opacity: 1;
        z-index: 1;

        .ush-body-wrapper {
            box-shadow: 0px 0px 5px 0px var(--table-border-color);
        }
    }

    .ush-left {

    }

    .ush-body-wrapper {
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .ush-body-inner {
            height: 0;
            overflow: hidden;
        }
    }
}