.draggable-workflow-element {
    color: #000;
    background: #ffd180;
    box-shadow: inset 0px 0px 0px 2px #ffa831;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
}