.workflow-editor {
    width: 100%;
    height: 100%;

    .graph-panel {

        .react-flow {

        }
    }

    .nothing-selected {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: #dbdfe3;
    }

    .workflow-editor-graph-wrapper {

    }
}